.menu {
  background: #1E1D1E;
  display: flex;
  flex-direction: column;
  padding: 12px 0;
}

.item {
  padding: 12px 12px 12px 8px;
  cursor: pointer;
  user-select: none;
  border-left: 4px solid transparent;
}

.item img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  display: block;
}

.item.active {
  border-left-color: #7A797A;
  background: #2E2D2F;
}
