.main {
  padding: 20px;
  flex: 1;
}

.sections {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.section {
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 14px;
  color: #666;
  border-bottom: 2px solid transparent;
}

.section:first-child {
  margin-left: 0;
}

.section.active {
  border-bottom-color: #666;
}

.phrases {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown {
  position: absolute;
  z-index: 1;
  width: 100px;
  border: 1px solid #aaa;
}

.item {
  padding: 10px 15px;
  background: #ccc;
  cursor: pointer;
}

.item:hover {
  background: #bbb;
}
