.main {
  padding: 20px;
  height: calc(100vh - 40px);
  background: no-repeat right bottom;
}

.top {
  display: flex;
  align-items: center;
}

.switch {
  cursor: pointer;
  position: relative;
  user-select: none;
  margin: 20px 0;
}

.name {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
}

.name::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 6px;
  vertical-align: 2px;
  content: "";
  border-top: 6px solid;
  border-right: 6px solid transparent;
  border-bottom: 0;
  border-left: 6px solid transparent;
}

.dropdown {
  display: none;
  position: absolute;
  width: 400px;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  top: calc(100% + 10px);
  left: -10px;
}

.dropdown li {
  padding: 10px;
}

.dropdown li:hover {
  background: #222;
}

.dropdown.active {
  display: block;
}

.sections {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.section {
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 14px;
  color: #666;
  border-bottom: 2px solid transparent;
}

.section:first-child {
  margin-left: 0;
}

.section.active {
  border-bottom-color: #666;
}

.sectionOfPhrases {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sectionOfPhrases.hidden {
  display: none;
}
