* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  background: #eee;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/roboto-400.woff2');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/roboto-500.woff2');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/roboto-700.woff2');
}
