html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  background: #eee url('../public/soundboards/arnold-schwarzenegger/avatar.png') no-repeat right bottom;
}
